CovoiturageWebServices/WebContent/wsdl/ServiceCovoiturage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.covoiturage.ests.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.covoiturage.ests.com" xmlns:intf="http://services.covoiturage.ests.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.covoiturage.ests.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="listAllConducteurs">
    <complexType/>
   </element>
   <element name="listAllConducteursResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listAllConducteursReturn" type="impl:Conducteur"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Conducteur">
    <sequence>
     <element name="adresse" nillable="true" type="xsd:string"/>
     <element name="code" type="xsd:int"/>
     <element name="login" nillable="true" type="xsd:string"/>
     <element name="nom" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="prenom" nillable="true" type="xsd:string"/>
     <element name="tel" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="supprimerAnnonce">
    <complexType>
     <sequence>
      <element name="numero" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="supprimerAnnonceResponse">
    <complexType/>
   </element>
   <element name="inscrirPassager">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="pwd" type="xsd:string"/>
      <element name="nom" type="xsd:string"/>
      <element name="prenom" type="xsd:string"/>
      <element name="tel" type="xsd:int"/>
      <element name="adresse" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="inscrirPassagerResponse">
    <complexType/>
   </element>
   <element name="deposerAnnonce">
    <complexType>
     <sequence>
      <element name="numero" type="xsd:int"/>
      <element name="codecond" type="xsd:int"/>
      <element name="dateDep" type="xsd:string"/>
      <element name="heureDep" type="xsd:int"/>
      <element name="heureArriv" type="xsd:int"/>
      <element name="villeDep" type="xsd:string"/>
      <element name="villeArriv" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deposerAnnonceResponse">
    <complexType/>
   </element>
   <element name="listAllAnnonce">
    <complexType/>
   </element>
   <element name="listAllAnnonceResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listAllAnnonceReturn" type="impl:Annonce"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Annonce">
    <sequence>
     <element name="codeconducteur" type="xsd:int"/>
     <element name="datedepat" nillable="true" type="xsd:string"/>
     <element name="heurearrivee" type="xsd:int"/>
     <element name="heuredepart" type="xsd:int"/>
     <element name="numero" type="xsd:int"/>
     <element name="villearrivee" nillable="true" type="xsd:string"/>
     <element name="villedepart" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="listAllPassagers">
    <complexType/>
   </element>
   <element name="listAllPassagersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listAllPassagersReturn" type="impl:Passager"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Passager">
    <sequence>
     <element name="adresse" nillable="true" type="xsd:string"/>
     <element name="login" nillable="true" type="xsd:string"/>
     <element name="nom" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="prenom" nillable="true" type="xsd:string"/>
     <element name="tel" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="chercherAnnonceparVilleDepart">
    <complexType>
     <sequence>
      <element name="villeDep" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="chercherAnnonceparVilleDepartResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="chercherAnnonceparVilleDepartReturn" type="impl:Annonce"/>
     </sequence>
    </complexType>
   </element>
   <element name="inscrirConducteur">
    <complexType>
     <sequence>
      <element name="code" type="xsd:int"/>
      <element name="nom" type="xsd:string"/>
      <element name="prenom" type="xsd:string"/>
      <element name="tel" type="xsd:string"/>
      <element name="adresse" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="inscrirConducteurResponse">
    <complexType/>
   </element>
   <element name="chercherAnnonceparDate">
    <complexType>
     <sequence>
      <element name="dateDepart" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="chercherAnnonceparDateResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="chercherAnnonceparDateReturn" type="impl:Annonce"/>
     </sequence>
    </complexType>
   </element>
   <element name="chercherAnnonceparVilleArrivee">
    <complexType>
     <sequence>
      <element name="villeArrivee" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="chercherAnnonceparVilleArriveeResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="chercherAnnonceparVilleArriveeReturn" type="impl:Annonce"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="deposerAnnonceRequest">

      <wsdl:part element="impl:deposerAnnonce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="chercherAnnonceparVilleDepartRequest">

      <wsdl:part element="impl:chercherAnnonceparVilleDepart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllConducteursResponse">

      <wsdl:part element="impl:listAllConducteursResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deposerAnnonceResponse">

      <wsdl:part element="impl:deposerAnnonceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllPassagersResponse">

      <wsdl:part element="impl:listAllPassagersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllAnnonceResponse">

      <wsdl:part element="impl:listAllAnnonceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="chercherAnnonceparVilleDepartResponse">

      <wsdl:part element="impl:chercherAnnonceparVilleDepartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inscrirConducteurRequest">

      <wsdl:part element="impl:inscrirConducteur" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="chercherAnnonceparDateResponse">

      <wsdl:part element="impl:chercherAnnonceparDateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="chercherAnnonceparVilleArriveeRequest">

      <wsdl:part element="impl:chercherAnnonceparVilleArrivee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="chercherAnnonceparDateRequest">

      <wsdl:part element="impl:chercherAnnonceparDate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllAnnonceRequest">

      <wsdl:part element="impl:listAllAnnonce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllPassagersRequest">

      <wsdl:part element="impl:listAllPassagers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllConducteursRequest">

      <wsdl:part element="impl:listAllConducteurs" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inscrirConducteurResponse">

      <wsdl:part element="impl:inscrirConducteurResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inscrirPassagerResponse">

      <wsdl:part element="impl:inscrirPassagerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="chercherAnnonceparVilleArriveeResponse">

      <wsdl:part element="impl:chercherAnnonceparVilleArriveeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="supprimerAnnonceResponse">

      <wsdl:part element="impl:supprimerAnnonceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inscrirPassagerRequest">

      <wsdl:part element="impl:inscrirPassager" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="supprimerAnnonceRequest">

      <wsdl:part element="impl:supprimerAnnonce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServiceCovoiturage">

      <wsdl:operation name="listAllConducteurs">

         <wsdl:input message="impl:listAllConducteursRequest" name="listAllConducteursRequest">

       </wsdl:input>

         <wsdl:output message="impl:listAllConducteursResponse" name="listAllConducteursResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="supprimerAnnonce">

         <wsdl:input message="impl:supprimerAnnonceRequest" name="supprimerAnnonceRequest">

       </wsdl:input>

         <wsdl:output message="impl:supprimerAnnonceResponse" name="supprimerAnnonceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="inscrirPassager">

         <wsdl:input message="impl:inscrirPassagerRequest" name="inscrirPassagerRequest">

       </wsdl:input>

         <wsdl:output message="impl:inscrirPassagerResponse" name="inscrirPassagerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deposerAnnonce">

         <wsdl:input message="impl:deposerAnnonceRequest" name="deposerAnnonceRequest">

       </wsdl:input>

         <wsdl:output message="impl:deposerAnnonceResponse" name="deposerAnnonceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllAnnonce">

         <wsdl:input message="impl:listAllAnnonceRequest" name="listAllAnnonceRequest">

       </wsdl:input>

         <wsdl:output message="impl:listAllAnnonceResponse" name="listAllAnnonceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllPassagers">

         <wsdl:input message="impl:listAllPassagersRequest" name="listAllPassagersRequest">

       </wsdl:input>

         <wsdl:output message="impl:listAllPassagersResponse" name="listAllPassagersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="chercherAnnonceparVilleDepart">

         <wsdl:input message="impl:chercherAnnonceparVilleDepartRequest" name="chercherAnnonceparVilleDepartRequest">

       </wsdl:input>

         <wsdl:output message="impl:chercherAnnonceparVilleDepartResponse" name="chercherAnnonceparVilleDepartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="inscrirConducteur">

         <wsdl:input message="impl:inscrirConducteurRequest" name="inscrirConducteurRequest">

       </wsdl:input>

         <wsdl:output message="impl:inscrirConducteurResponse" name="inscrirConducteurResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="chercherAnnonceparDate">

         <wsdl:input message="impl:chercherAnnonceparDateRequest" name="chercherAnnonceparDateRequest">

       </wsdl:input>

         <wsdl:output message="impl:chercherAnnonceparDateResponse" name="chercherAnnonceparDateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="chercherAnnonceparVilleArrivee">

         <wsdl:input message="impl:chercherAnnonceparVilleArriveeRequest" name="chercherAnnonceparVilleArriveeRequest">

       </wsdl:input>

         <wsdl:output message="impl:chercherAnnonceparVilleArriveeResponse" name="chercherAnnonceparVilleArriveeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceCovoiturageSoapBinding" type="impl:ServiceCovoiturage">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listAllConducteurs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAllConducteursRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listAllConducteursResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="supprimerAnnonce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="supprimerAnnonceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="supprimerAnnonceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="inscrirPassager">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="inscrirPassagerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="inscrirPassagerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deposerAnnonce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deposerAnnonceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deposerAnnonceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllAnnonce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAllAnnonceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listAllAnnonceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllPassagers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAllPassagersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listAllPassagersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="chercherAnnonceparVilleDepart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="chercherAnnonceparVilleDepartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="chercherAnnonceparVilleDepartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="inscrirConducteur">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="inscrirConducteurRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="inscrirConducteurResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="chercherAnnonceparDate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="chercherAnnonceparDateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="chercherAnnonceparDateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="chercherAnnonceparVilleArrivee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="chercherAnnonceparVilleArriveeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="chercherAnnonceparVilleArriveeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceCovoiturageService">

      <wsdl:port binding="impl:ServiceCovoiturageSoapBinding" name="ServiceCovoiturage">

         <wsdlsoap:address location="http://localhost:8282/CovoiturageWebServices/services/ServiceCovoiturage"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
